*{
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;

}
.badge{
  font-weight: 500;
  font-size: .875rem;
}
.square, .pill{
  padding: 2px 12px;
  width: fit-content;
}

.pill{
  border-radius: 12px;
}

.square{
  border-radius: 4px;
}

.gray{
  background-color: #F3F4F6;
  color: #1F2937;
}

.red{
  background-color: #FEE2E2;
  color: #991B1B;  
}

.yellow{
  background-color: #FEF3C7;
  color: #92400E;
}

.blue{
  background-color: #DBEAFE;
  color: #1E40AF;
}

.green{
  background-color: #D1FAE5;
  color: #065F46;
}

.indigo{
  background-color: #E0E7FF;
  color: #3730A3;
}

.purple{
  background-color: #EDE9FE;
  color: #5B21B6;
}

.pink{
  background-color: #FCE7F3;
  color: #9D174D;
}

/* -----------------------------------------------------------
                          BANNER
--------------------------------------------------------------*/
.banner{
  width: 896px;
  display: flex;
  padding: 16px;
  border-radius: 6px;
  gap: 12px;
  font-size: 14px;
}

.title{
  font-weight: 500;
}
.description{
  font-size: 14px;
  line-height: 20px;
}

.success{
  background-color: #ECFDF5;
  color: #065F46;
}
.success-desc{
  color: #047857;
}

.warning{
  background-color: #FFFBEB;
  color: #92400E;
}

.warning-desc{
  color: #B45309;
}

.error{
  background-color: #FEF2F2;
  color: #92400E;
}
.error-desc{
  color: #B45309;
}

.neutral{
  background-color: #EFF6FF;
  color: #1E40AF;
}
.neutral-desc{
  color: #1C51B9;
}

/* -----------------------------------------------------------
                          ICON
--------------------------------------------------------------*/
.icon{
    font-size: 1.25rem;
}
.error-icon{
  color: #F87171;
}

.success-icon{
  color: #34D399;
}

.warning-icon{
  color: #FBBF24;
}

.neutral-icon{
  color: #60A5FA;
}

.cloud-icon{
  font-size: 24px;
}
.quote-icon{
  font-size: 43px;
  color: gray;
}

/* -----------------------------------------------------------
                          TESTIMONIAL
--------------------------------------------------------------*/
.testimonial{
  width: 376px;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 6.4375rem;
}

.content{
  padding: 9.4375rem 1rem 4rem 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: #2545B8;
  color: #FFFFFF;
}

.name-test,
.role-test{
  font-size: 1rem;
  font-weight: bold;
  display: block;
  line-height: 1.5;
}

.role-test{
  font-weight: 500;
}

.img-test{
  position: absolute;
  width: 344px;
  height: 206px;
  border-radius: 12px;
  background-color: #991B1B;
  top: 0;
  left: 16px;
  background-size: cover;
  background-position: 0 -100px;
}


/* -----------------------------------------------------------
                          LARGE SCREEN
--------------------------------------------------------------*/

@media screen and (min-width: 1024px) {
  .testimonial{
  width: 1200px;
  height: 464px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
.content{
  padding: 2rem 2rem 2rem 26rem ;
  width: inherit;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-test{
  height: 464px;
  left: 32px;
  background-position: 0 -50px;
}

}